@media (max-width: 540px) { .below-sm { display: none !important; } }
@media (max-width: 768px) { .below-md { display: none !important; } }
@media (max-width: 1024px) { .below-lg { display: none !important; } }
@media (max-width: 1280px) { .below-xl { display: none !important; } }

@media (min-width: 541px) { .above-sm { display: none !important; } }
@media (min-width: 769px) { .above-md { display: none !important; } }
@media (min-width: 1025px) { .above-lg { display: none !important; } }
@media (min-width: 1281px) { .above-xl { display: none !important; } }
